<div class="row my-3">
  <div class="col">
    <h1>Directors</h1>
  </div>
</div>

<div class="row my-3">
  <div class="col-2 offset-10">
    <%= link_to 'New Director', new_director_path, class: "btn btn-success", role: "button" %>
  </div>
</div>

<table class="table">
  <thead>
    <tr class="row">
      <th scope="col" class="col-10">Name</th>
      <th scope="col" class="col-2"></th>
    </tr>
  </thead>
  <tbody>
    <% @directors.each do |director| %>
      <tr class="row">
        <td class="col-10"><%= link_to director.name, director %></td>
        <td class="col-2"><%= director.movies_size_all %></td>
      </tr>
    <% end %>
  </tbody>
</table>
