<div class="row my-3">
  <div class="col">
    <h1>Directors</h1>
  </div>
</div>

<div class="row my-3">
  <div class="col-2 offset-10">
    <%= link_to 'New Director', new_director_path, class: "btn btn-success", role: "button" %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @directors.each do |director| %>
      <tr>
        <td><%= link_to director.name, director %></td>
      </tr>
    <% end %>
  </tbody>
</table>
